.clientes{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  &__navWrapper{
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    top: 23%;
    right: 15%;
  }
  &__clients-wrapper{
    height: 50%;
    position: absolute;
    overflow: hidden;
    // mobile
    right: 0;
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
    transform: none;
    left: 0;
    max-height: 250px;
    bottom: 10%;
  }
  &__clients{
    overflow-y: scroll;
    width: 100%;
    padding-right: 17px;
    box-sizing: content-box;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__client{
    width: 32%;
    margin: 15px 0px;
    object-fit: contain;
  }
  &__nav{
    position: relative;
    &--a-layer{
      animation: a-layer-entrance 1s;
    }
  }
  &__nav{
    position: relative;
    &--a-layer{
      &--animated{
        animation: a-layer-entrance 1.3s;
      }
    }    
    &--jornada{
      &--animated{
        animation: quem-somos-nav .8s;
      }
    }    
    &--parceiros{
      &--animated{
        animation: reverse-quem-somos-nav .5s;
      }
    }    
    &--clientes{
      &--animated{
        animation: quem-somos-nav .7s;
      }
    }   
    &--blog{
      &--animated{
        animation: reverse-quem-somos-nav .3s;
      }
    }
  }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
  .clientes{
    &__navWrapper{
      bottom: 15%;
      left: 10%;
      right: auto;
      top: auto;
    }
    &__clients-wrapper{
      width: 350px;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      max-height: none;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1380px) {
  .clientes{
    &__navWrapper{
      bottom: 20%;
      left: 25%;
    }
    &__clients-wrapper{
      width: 500px;
    }
  }
}