.fazemos{
	background-image: url('../assets/images/metodologia/background.png');
    background-position: center;
    background-size: cover;
    background-position: right;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    &__title{
    	position: absolute;
    	color: #282828;
		font-weight: 400;
	    transition: ease 1.3s;
		left: 5%;
		bottom: 23%;
		font-size: 40px;
		line-height: 50px;
		z-index: 1;
		&--open{
	    	bottom: 68%;
	    }
    }
    &__content{
    	position: absolute;
	    max-width: 380px;
	    width: 80%;
	    left: 5%;
	    font-size: 12px;
	    transform: translateY(-50%);
	    max-height: 0;
	    height: auto;
	    transition: ease 2s;
	    overflow: hidden;
	    // mobile
	    transform: none;
	    top: auto;
	    bottom: 10%;
	    &--open{
	    	max-height: 100%;
	    }
    }
    &__content-text{
    	animation: fading .7s;
    }
    &__title-spotlight{
    	font-weight: 700;
    	display: block;
    }
    &__listWrapper{
    	position: absolute;
    	left: 30%;
    	bottom: 20%;
	    transition: ease 1.8s;

    	// Mobile
	    left: 5%;
	    bottom: 17.5%;
	    width: 85%;
	    &--open{
	    	bottom: 65%;
	    }
    }
    &__list{
    	list-style: none;
    	padding: 0;
    	margin: 0;
    	// Mobile
        display: flex;
    	flex-wrap: wrap;
    	width: 100%;
    }
    &__list-item{
		font-weight: 700;
		transition: .5s;
		cursor: pointer;
	    font-size: 14px;
    	margin: 5px;
    	color: #999;
    	cursor: pointer;
		&--active{
			color: #282828;
		}
    }
	&__notebook{
		background-image: url('../assets/images/fazemos/notebook.png');
		background-size: contain;
		background-repeat: no-repeat;

		max-width: 327px;
		max-height: 466px;
		position: absolute;
		right: 7%;
		top: 50%;
		transform: translateY(-75%) rotate(-50deg);
		transition: ease 1s;
		// Mobile
		width: 275px;
		height: 275px;
		&--open{
			top: -35%;
	    	transform: rotate(-90deg);
	    	right: 8%;
		}
	}
	&__cup{
		background-image: url('../assets/images/fazemos/cup.png');
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		right: 28%;
		
		top: 35%;

		transition: ease 1.5s;
		// Mobile
		left: 10%;
		right: auto;
		top: 25%;
		width: 80px;
		height: 80px;
		transform: rotate(-50deg);
		&--open{
			top: -5%;
    		right: 33%;
    		transform: rotate(-90deg);
		}
	}
	&__phone{
		background-image: url('../assets/images/fazemos/phone.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: 12%;
		height: 10%;
		position: absolute;
		right: 28%;
		bottom: 15%;

		bottom: 25%;

		transition: ease .5s;
		// Mobile
		width: 80px;
		height: 80px;
		transform: rotate(-50deg);
		right: 22%;
		bottom: 26%;
		&--open{
			bottom: -5%;
		}
	}
	&__cactus{
		background-image: url('../assets/images/fazemos/cactus.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: 12%;
		height: 10%;
		position: absolute;
		right: 15%;
		bottom: 15%;

		bottom: 22%;

		transition: ease 1s;
		// Mobile
		transform: rotate(-50deg);
		width: 70px;
		height: 70px;
		right: 5%;
		bottom: 40%;
		&--open{
			bottom: -5%;
		}
	}
}

@media (max-width: 370px) {
    .fazemos{
		&__title{
			bottom: 32%;
			font-size: 25px;
			line-height: 30px;
			margin: 0;
			left: 7%;
			&--open {
				bottom: 78%;
			}
		}
    }
}
@media (min-width: 576px) {
    .fazemos{

    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
    .fazemos{
    	&__title{
    		top: 15%;
			left: 10%;
			font-size: 50px;
			line-height: 60px;
			height: 120px;
    	}
    	&__content{
    		font-size: 14px;
    		bottom: auto;
    		transform: translateY(-50%);
    		top: 50%;
    		left: auto;
    		right: 12%;
    	}
    	&__listWrapper{
			left: 10%;
			bottom: 20%;
    	}
    	&__list{
    		display: block;
    	}
    	&__list-item{
    		font-size: 24px;
			line-height: 28.16px;
			margin: 0;
    	}
		&__notebook{
			right: 7%;
			top: 50%;
			transform: translateY(-50%);
			&--open{
				top: -28%;
				-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
				right: 2%;
			}
		}
		&__cup{
			right: 25%;
			left: auto;
			top: 25%;
			transform: none;
			width: 75px;
			height: 75px;
			&--open{
				top: -5%;
	    		right: 33%;
	    		transform: rotate(-90deg);
			}
		}
		&__phone{
			width: 12%;
			height: 10%;
			right: 28%;
			bottom: 25%;
			transform: none;
			&--open{
				bottom: -5%;
			}
		}
		&__cactus{
			width: 12%;
			height: 10%;
			right: 15%;
			bottom: 25%;
			transform: none;
			&--open{
				bottom: -5%;
			}
		}
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .fazemos{
    	&__title{
    		top: 10%;
			left: 15%;
			font-size: 80px;
			font-weight: 700;
			line-height: 90px;
    	}
    	&__content{
    		right: 10%;
    	}
    	&__listWrapper{
			left: 30%;
			bottom: 20%;
    	}
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1380px) {
    .fazemos{
		&__title{
    		top: 10%;
			left: 15%;
    	}
    	&__content{
    		max-width: 550px;
    		right: 15%;
    	}
    	&__list-item{
    		line-height: 44.16px;
    	}
    }
}