.home{
	background-image: url('../assets/images/home/background-mobile.png');
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    align-items: flex-start;
    padding: 0 5%;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    &__content{
        position: relative;
        animation: entrance 1s ease;     
    }
    &__title{
        color: #f8be00;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 45px;
        animation: fading 3s ease;
        transition: ease;
        margin: 0;
        &--bold{
            display: block;
            font-weight: 700;
        }
    }
    &__desc{
        margin-top: 0;
        padding-left: 0%;
        max-width: 290px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        animation: fading 3.5s ease;
        &--bold{
            font-weight: 700;
        }
    }
    &__btnArea{
        position: relative;
        bottom: -5%;
        animation: entrance_mid 1.1s, fading 3s ease;
        // transition: 1s ease;
    }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
    .home{
        background-image: url('../assets/images/home/background.png');
        &__title{
            max-width: 520px;
            font-size: 80px;
            padding-left: 5%;
            line-height: 90px;
        }
        &__desc{
            padding-left: 10%;
            max-width: 580px;
            width: 85%;
        }
        &__btnArea{
            position: absolute;            
            left: 50%;
            transform: translateX(-50%);
            bottom: 10%;
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
