.jornada{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  &__navWrapper{
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // mobile
    height: 150px;
    top: 23%;
    left: 55%;
    transform: translateX(-50%);
  }
  &__sliderWrapper{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    // mobile
    width: 100%;
    height: auto;
    top: auto;
    transform: none;
    bottom: 13.5%;
    right: 0;
    width: 95%;
    left: 0;
  }
  &__slider{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: content-box;
    padding-right: 17px;
    img{
      display: block;
    }
  }
  &__nav{
    position: relative;
    &--a-layer{
      &--animated{
        animation: a-layer-entrance 1.3s;
      }
    }    
    &--jornada{
      &--animated{
        animation: quem-somos-nav .8s;
      }
    }    
    &--parceiros{
      &--animated{
        animation: reverse-quem-somos-nav .5s;
      }
    }    
    &--clientes{
      &--animated{
        animation: quem-somos-nav .7s;
      }
    }   
    &--blog{
      &--animated{
        animation: reverse-quem-somos-nav .3s;
      }
    }
  }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
  .jornada{
    &__navWrapper{
      left: 25%;
      bottom: 25%;
      top: auto;
      height: 200px;
      transform: none;
    }
    &__sliderWrapper{
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      left: auto;
      width: 100%;
      height: 85%;
      width: auto;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .jornada{
    &__navWrapper{
      bottom: 25%;
      left: 25%
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1380px) {
  .jornada{
    &__navWrapper{
      bottom: 25%;
      left: 25%;
    }
    &__sliderWrapper{
      right: 20%;
    }
  }
}