.metodologia{
    height: 100vh;
    position: relative;
    overflow: hidden;
    &__y-wrapper{
    	position: absolute;
    	left: 5%;
    	top: 10%;
        width: 100%;
    }
    &__slider-desk{
        display: none;
    }
    &__y{
        left: -55%;
        height: 75vh;
        position: absolute;

    }
    &__navWrapper{
        width: 200px;
        position: absolute;
        right: 17%;
        .navButton{
            width: 100%;
        }
        &--inbound{
            top: 40px;
            &--animated{
                animation: inbound-inbound-entrance 1.5s;
            }
        }       
        &--outbound{
            top: 80px;
            &--animated{
                animation: outbound-outbound-entrance 1.5s;
            }
        }
        &--pontes{
            top: 120px;
            &--animated{
                animation: outbound-pontes-entrance 1.5s;
            }
        }
        &--processo{
            top: 160px;
            &--animated{
                animation: outbound-processo-entrance 1.5s;
            }
        }
    }
    // &__slider-wrapper{
    //     position: absolute;
    //     left: 10%;
    //     bottom: 15%;
    //     width: 80%;
    //     max-width: 430px;
    // }
}

@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
    .metodologia{
        &__y-wrapper{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
        }
        &__slider-desk{
            display: block;
        }
        &__y{
            width: 100%;
            float: none;
            margin: 0;
            position: relative;
        }
        &__navWrapper{
            width: auto;
            .navButton {
                width: auto;
            }
            position: absolute;
            &--inbound{
                top: -30px;
                left: -80px;
                &--animated{
                    animation: metodologia-inbound-entrance 1.5s;
                }
            }       
            &--outbound{
                top: -30px;
                left: auto;
                right: -80px;
                &--animated{
                    animation: metodologia-outbound-entrance 1.5s;
                }
            }
            &--pontes{
                top: 12%;
                left: 50%;
                transform: translateX(-50%);
                &--animated{
                    animation: metodologia-pontes-entrance 1.5s;
                }
            }
            &--processo{
                bottom: 15%;
                right: 0px;
                top: auto;
                left: auto;
                &--animated{
                    animation: metodologia-processo-entrance 1.5s;
                }
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}