@keyframes fading{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes entrance{
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
@keyframes entrance_mid{
    0% {
        left: 100%;
    }
    100% {
        left: 50%;
    }
}
@keyframes entrance_header_top{
    0% {
        top: -100%;
    }
    100% {
        top: 5%;
    }
}
@keyframes entrance_footer_bottom{
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 5%;
    }
}
@keyframes entrance_nav-social_right{
    0% {
        right: -80px;
    }
    100% {
        right: 80px;
    }
}
@keyframes entrance_pagenav_right{
    0% {
        right: -80px;
    }
    100% {
        right: 30px;
    }
}

