.pageNav{
	position: fixed;
	cursor: pointer;
	animation: entrance_pagenav_right .5s;
	transform: translateX(-50%);
	right: auto;
	left: 50%;
	top: auto;
	bottom: 10%;
	&__mobile{
		&--inactive{
			display: none;
		}
	}
	&__arrow{
		width: 27px;
		height: 27px;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		border: 1px solid #333;
		transition: ease .5s;
		&--inactive{
			opacity: .6;
			cursor: not-allowed;
		}
		&--up{
			background-image: url('../assets/images/icons/up-arrow.png');
			margin-bottom: 10px;
			// MOBILE
			display: none;
		}
		&--down{
			background-image: url('../assets/images/icons/down-arrow.png');
			margin-top: 10px;
		}		
		&--right{
			background-image: url('../assets/images/icons/right-arrow.png');
			margin-bottom: 10px;
		}
		&--left{
			background-image: url('../assets/images/icons/left-arrow.png');
			margin-top: 10px;
		}
	}
}


@media (min-width: 798px){
	.pageNav{
		right: 30px;
		bottom: auto;
		left: auto;
		top: 50%;
    	transform: translateY(-50%);
    	&__arrow{
    		&--up{
    			display: block;
    		}
    	}
	}
}