.navButton{
	height: 36px;
	min-width: 120px;
	background-color: #f8be00;
	border: 2px solid #f8be00;
	outline: none;
	text-align: left;
	padding: 0 20px 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	&__text{
		color: #282828;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		padding-right: 1.3em;
	}
	&__line{
	    width: 2px;
	    height: 21px;
	    display: block;
	    background-color: #292929;
	    position: relative;
	    transition: ease .5s;
	    &--vertical{
	    	height: 2px;
	    	width: 21px;
	    	&:hover{
	    		animation: vertical-line-hover .5s;
	    	}
	    	&:before{
	    	    content: '';
			    width: 0;
			    height: 2px;
			    background-color: #282828;
			    position: absolute;
			    left: -21px;
			}
	    }
	    &:before{
    	    content: '';
		    width: 2px;
		    height: 0px;
		    background-color: #282828;
		    position: absolute;
		    top: -21px;
		}
	}
	&--unselected{
		background-color: rgba(#000, 0);
		.navButton__text{
			color: #f8be00;
		}
		.navButton__line{
			background-color: #f8be00;
		}
		.navButton__line--vertical::before{
			background-color: #f8be00;
		}

	}
	&:hover{
		.navButton__line{
	   		animation: horizontal-line-hover 1s;
		}	
		.navButton__line::before{
			animation: horizontal-line-before-hover 1s;
		}	
		.navButton__line--vertical{
	   		animation: vertical-line-hover 1s;
		}
		.navButton__line--vertical::before{
			animation: vertical-line-before-hover 1s;
		}
	}
}


@keyframes vertical-line-hover{
	0% {
		width: 21px;
	}
	100% {
		width: 0px;
	}
}
@keyframes vertical-line-before-hover{
	0% {
		width: 0;
	}
	50% {
		width: 0;
	}
	100% {
		width: 21px;
	}
}
@keyframes horizontal-line-hover{
	0% {
		height: 21px;
		bottom: 0;

	}
	100% {
		height: 0px;
		bottom: -10.5px;
	}
}
@keyframes horizontal-line-before-hover{
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height: 21px;
	}
}